*{
    margin:0;
    padding:0;
}

body{
    font-family: sans-serif;
}

.navbar-brand{
    margin-right: 100px;
}



#navbarNav a{
    color:white;
    font-weight: 600;
}





.fa-bars{
    color: #fff;
    font-size: 30px;
}

.navbar-toggler{
    outline: none;

}

#banner{
    color:white;
    background: linear-gradient(to right,#182b3c,#16182d);
}

.promo-title{
    font-size: 40px;
    font-weight: 600px;
    margin-top: 100px;

}

#banner a{
    color: white;

}

.bottom-img{
    width: 100%;

}


/*************************SERVICES******************/


#services{
    padding: 80px 0px;
    background: linear-gradient(to right,#182b3c,#16182d);
    color: white;
    

}

.service-img{
    width: 100px;
    
    border-radius: 5px;

}

#about-us{
    background: linear-gradient(to right,#182b3c,#16182d);

}

#carouselExampleCaptions{
    background: linear-gradient(to right,#182b3c,#16182d);
    
}
.services{
    padding: 20px;
    background: linear-gradient(to right,#182b3c,#16182d);
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title{
    
   
    border-bottom: 5px solid #2f7d7f;
    padding-bottom: 20px;
    
   
}
    
#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right,#182b3c,#16182d);
}

/*  About Us*/
#about-us{
    background: linear-gradient(to right,#182b3c,#16182d);
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li{
    margin: 10px 0;

}

#about-us ul{
    margin-left: 20px;
}

#about-us img{
    width: 100%;
    height: auto;
}

/*Testimonials SECTION*/


#testimonials{

    margin: 100px 0;



}

#testimonials img{
    height: auto;
    width:100%;
    background: white;
}

.testimonials{
    border-left: 4px solid #07d3f4;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}

.testimonials img{
    max-width: 100px;
    height: auto;
    border-radius:  50%;
    
}

.user-details{
    display: inline-block;
    font-size: 12px;
}


 /*Social media section*/

#socialmedia{
    background: #f8f9fa;
    padding: 100px 0;
    background: linear-gradient(to right,#182b3c,#16182d);
}

#socialmedia p{
     font-size: 36px;
     font-weight: 600;
     margin-bottom: 30px;
     

}

.user-details{
    margin-left: 20px; 
}

.social-icons i{
    transition: 0.5s;
}

.social-icons a:hover i{
    transform: translateY(-10px);
}

/* footer section*/

#footer{
    background: linear-gradient(to right,#182b3c,#16182d);
    color: #fff;
}

.footer-img{
    width: 100%;
}

.bottom-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa,i{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background: linear-gradient(to right,#182b3c,#16182d);

}

.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    


}

hr{
    background: white;

}

.copyright{
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;

}

.add{
    background: linear-gradient(to right,#182b3c,#16182d);
    font-weight: 600;
    font-size: 40px;
    color:white;
}

#caption{
    margin-left: 300px;
}

 .margin{
    margin-left: 300px;
}

#nav-bar img{
    width: 100px;
    height: auto;
}

body{
    font-weight: 600;
}

 #nav-bar .nav-item a:hover{
    background: #2f7d7f;
    color: #0cc2f1;
} 

.bbmargin{
    margin-top: 10px;
}

.copyright{
    text-transform: uppercase;
}

.digital  img{
    
    border-radius: 5px;
    
}

.rounded{
    border-radius: 5px;
    margin-top: 20px;
}

  .info {
    background: linear-gradient(to right,#182b3c,#16182d);
    color: white;
    text-align: justify;
    
    
    padding: 10px;
    margin-top: 15px;
}




h1.info {
    border-top: 5px dotted black;
}
